<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="defects"
         cacheDirectory=".phpunit.cache"
>
  <coverage/>

  <testsuites>
    <testsuite name="EmailValidator Test Suite">
      <directory>./tests/EmailValidator</directory>
      <exclude>./vendor/</exclude>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory>./src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">./src/Result/Reason</directory>
    </exclude>
  </source>

</phpunit>
